@media only screen and (max-width: 1920px){
    .right-side{
        margin-left: 200px;
    }
    .links{
        margin-right: 800px;
    }
    .courses{
        gap: 100px;
    }
    .sc4-right{
        margin-left: 320px;
    }
    .sc5-right{
        margin-left: 200px;
    }
    .sc7-img{
        margin-left: 350px;
    }
    .sc7-btn{
        margin-left: 850px;
    }
    .all-courses{
        gap: 100px;
    }
    .sc9-right{
        margin-left: 250px;
    }
    .sc9-left{
        margin-left: 100px;
    }
    .sc6-right{
        margin-left: 180px;
    }
}
@media only screen and (max-width: 651px){
    header{
        padding: 30px 30px;
    }
    .links{
        display: none;
    }
    .left-side h1{
        font-size: 25px;
        padding: 20px 30px;
    }
    .left-side p{
        font-size: 14px;
        padding: 0px 30px;
    }
    .btns{
        display: flex;
        padding: 10px 30px;
        gap: 5px;
    }
    .btn1{
        width: 158px;
        height: 42px;
    }
    .btn2{
        width: 158px;
        height: 42px;
    }
    .sc2-h1{
        font-size: 20px;
        padding: 30px 30px;
    }
    .courses{
        overflow: scroll;
        padding: 30px 30px;
    }
    .sc3-h1{
        font-size: 20px;
        padding: 30px 30px;
    }
    .all-courses{
        overflow: scroll;
        padding: 30px 30px;
    }
    .screen-four{
        display: none;
    }
    .screen-five{
        display: none;
    }
    .screen-six{
        display: none;
    }
    .screen-seven{
        display: none;
    }
    .sc8-h1{
        font-size: 25px;
        padding: 30px 30px;
    }
    .alex-boxes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .alex-box:nth-child(6){
        display: none;
    }
    .alex-box:nth-child(7){
        display: none;
    }
    .alex-box:nth-child(8){
        display: none;
    }
    .alex-box:nth-child(9){
        display: none;
    }
    .alex-box:nth-child(10){
        display: none;
    }
    .alex-box:nth-child(11){
        display: none;
    }
    .alex-box{
        width: 200px;
        height: 200px;
    }
    .sc9-left{
        display: none;
    }
    .screen-nine{
        width: 100%;
    }
    .sc9-right{
        margin-left: 50px;
        margin-top: 0px;
    }
    .sc9-h1{
        font-size: 25px;
        padding: 40px 0px;
    }
    .ticks{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        padding: 10px 30px;
        gap: 5px;
    }
    .crown-img{
        transform: translate(-30px, -20px);
    }
    .heart-img{
        width: 27px;
        height: 27px;
        transform: translate(-80px, 40px);
    }
}